html,
body,
#app {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  /* flex-wrap: wrap; */

}

.box {
  width: 450px;
  height: 60px;
  background: #f00;
  margin: 5px;
  flex-grow: 1;
}

.red {
  order: 1;
}

.green {
  background: greenyellow;
  order: 2;
}

.blue {
  background: blue;
  order: 0;
}