* {
  margin: 0;
  padding: 0;
  /* margin won't sum with padding .. */
  box-sizing: border-box;
}

body {
  background: #E6ECF0;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

input,
button {
  outline: 0;
}

.content {
  max-width: 1100px;
  margin: 0 auto;
}

header#main-header {
  height: 46px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}

header#main-header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

header#main-header nav ul {
  display: flex;
  list-style: none;
}

header#main-header nav ul li {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #667580;
  font-weight: bold;
  margin-left: 30px;
}

header#main-header nav ul li:first-child {
  margin: 0;
}

header#main-header nav ul li img {
  margin-right: 7px;
}

header#main-header div.side {
  display: flex;
}

header#main-header div.side input {
  width: 220px;
  border: 1px solid #e6ecf0;
  height: 34px;
  padding: 0 30px 0 12px;
  border-radius: 16px;
  color: #667581;
  font-size: 12px;
  background: #f5f8fa url('images/search.svg') no-repeat 190px center;
}

header#main-header div.side img {
  /* border-width: 2px;
  border-color: black;
  border-style: solid; */
  height: 34px;
  width: 35px;
  border-radius: 50%;
  margin: 0 15px;
}

header#main-header div.side button {
  height: 34px;
  background: #3BB9e3;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  border: 0;
  border-radius: 16px;
}

div.banner {
  height: 380px;
  width: 100%;
  background: #3bb9e3;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

div.bar {
  height: 59px;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

div.bar .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 285px;
  height: 100%;
}

div.bar .content ul {
  display: flex;
  height: 100%;
}

div.bar .content ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  position: relative;
}

div.bar .content ul li.active::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #3bb9e3;
}

div.bar .content ul li span {
  color: #667580;
  font-size: 12px;
  font-weight: bold;
}

div.bar .content ul li strong {
  color: #667580;
  font-size: 18px;
  font-weight: bold;
  margin-top: 2px;
}

div.bar .content ul li.active strong {
  color: #3bb9e3;
}

div.bar .content .actions {
  display: flex;
}

div.bar .content .actions button {
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;

  width: 90px;
  font-weight: bold;
  font-size: 14px;
  color: #3bb9e3;
  border: 1px solid #3bb9e3;
  border-radius: 16px;

  margin-right: 20px;
}

div.wrapper-content {
  display: flex;
  justify-content: space-between
}

div.wrapper-content aside.profile {
  width: 260px;
}

div.wrapper-content aside.profile img.avatar {
  width: 200px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-top: -130px;
}

div.wrapper-content aside.profile h1 {
  font-size: 21px;
  color: #1f2226;
  margin-top: 10px;
}

div.wrapper-content aside.profile span {
  font-size: 14px;
  color: #53626C;
}

div.wrapper-content aside.profile p {
  font-size: 15px;
  color: #1f2226;
  margin-top: 15px;
}

div.wrapper-content aside.profile ul {
  margin-top: 20px;
  list-style: none;
}

div.wrapper-content aside.profile>ul li {
  font-size: 14px;
  color: #657786;
  margin-top: 5px;

  display: flex;
  align-items: center;
}

div.wrapper-content aside.profile>ul li:first-child {
  margin-top: 0;
}

div.wrapper-content aside.profile>ul li img {
  margin-right: 10px;
}

div.wrapper-content aside.profile div.widget {
  margin-top: 20px
}

div.wrapper-content aside.profile div.widget strong {
  font-weight: normal;
  color: #3bb9e3;

  display: flex;
  align-items: center;
}

div.wrapper-content aside.profile div.widget strong img {
  margin-right: 5px;
}

div.wrapper-content aside.profile div.followers ul {
  display: flex;
  flex-wrap: wrap;
}

div.wrapper-content aside.profile div.followers ul li {
  background-color: #d0d5d9;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0px 5px 10px 0;
  /* flex-shrink: 0;
  flex-grow: 1; */
  flex: 1 0 auto;
}

div.wrapper-content aside.profile div.images ul {
  display: flex;
  flex-wrap: wrap;
}

div.wrapper-content aside.profile div.images ul li {
  background-color: #d0d5d9;
  width: 80px;
  height: 80px;
  border-radius: 1%;
  margin: 0px 5px 5px 0;
  /* flex-shrink: 0;
  flex-grow: 1; */
  flex: 1 0 auto;
}

div.wrapper-content section.timeline {
  flex: 1;
  margin: 10px 5px 0 5px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

div.wrapper-content aside.widgets {
  width: 290px;
}

div.wrapper-content aside.widgets .widget {
  background: #fff;
  padding: 15px;
  margin-top: 10px;
}

div.wrapper-content aside.widgets .widget .title {
  display: flex;
  align-items: baseline;
}

div.wrapper-content aside.widgets .widget .title strong {
  font-size: 18px;
  color: #1F2226;
}

div.wrapper-content aside.widgets .widget .title a {
  font-size: 12px;
  color: #3BB9e3;
  text-decoration: none;
  position: relative;
  padding-left: 10px;
}

div.wrapper-content aside.widgets .widget .title a::before {
  content: '';
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #222;
  margin-left: 5px;
  margin-right: 8px;
  position: absolute;
  left: 0px;
  top: 6px;
}

div.wrapper-content aside.widgets .follow ul {
  list-style: none;
  margin-top: 10px;
}

div.wrapper-content aside.widgets .follow ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccd6dd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

div.wrapper-content aside.widgets .follow ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: 0;
}

div.wrapper-content aside.widgets .follow ul li .profile {
  display: flex;
  align-items: center;
}

div.wrapper-content aside.widgets .follow ul li .profile img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

div.wrapper-content aside.widgets .follow ul li .profile .info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

div.wrapper-content aside.widgets .follow ul li .profile .info strong {
  font-size: 14px;
  color: #1f2326;
}

div.wrapper-content aside.widgets .follow ul li .profile .info strong span {
  font-weight: normal;
  color: #9a9a9a;
}

div.wrapper-content aside.widgets .follow ul li .profile .info button {
  height: 27px;
  background: #fff;
  margin-top: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  font-weight: bold;
  font-size: 14px;
  color: #3BB9e3;
  border: 01px solid #3BB9e3;
  border-radius: 16px;
}

div.wrapper-content aside.widgets .follow ul li a {
  color: #9a9a9a;
  text-decoration: none;
  font-size: 14px;
}